@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/lato/Lato-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/lato/Lato-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/lato/Lato-Semibold.woff2') format('woff2'),
        url('assets/fonts/lato/Lato-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/lato/Lato-Italic.woff2') format('woff2'),
        url('assets/fonts/lato/Lato-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/lato/Lato-Regular.woff2') format('woff2'),
        url('assets/fonts/lato/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/lato/Lato-SemiboldItalic.woff2') format('woff2'),
        url('assets/fonts/lato/Lato-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/lato/Lato-Black.woff2') format('woff2'),
        url('assets/fonts/lato/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/lato/Lato-HeavyItalic.woff2') format('woff2'),
        url('assets/fonts/lato/Lato-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato Latin SemBd';
    src: url('assets/fonts/lato/LatoLatinSemBd-Regular.woff2') format('woff2'),
        url('assets/fonts/lato/LatoLatinSemBd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/lato/Lato-LightItalic.woff2') format('woff2'),
        url('assets/fonts/lato/Lato-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/lato/Lato-Bold.woff2') format('woff2'),
        url('assets/fonts/lato/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Latin';
    src: url('assets/fonts/lato/LatoLatinLight-Regular.woff2') format('woff2'),
        url('assets/fonts/lato/LatoLatinLight-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/lato/Lato-Light.woff2') format('woff2'),
        url('assets/fonts/lato/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('assets/fonts/lato/Lato-HairlineItalic.woff2') format('woff2'),
        url('assets/fonts/lato/Lato-HairlineItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/lato/Lato-BlackItalic.woff2') format('woff2'),
        url('assets/fonts/lato/Lato-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato Latin';
    src: url('assets/fonts/lato/LatoLatinLight-Italic.woff2') format('woff2'),
        url('assets/fonts/lato/LatoLatinLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('assets/fonts/lato/Lato-Hairline.woff2') format('woff2'),
        url('assets/fonts/lato/Lato-Hairline.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Latin Med';
    src: url('assets/fonts/lato/LatoLatinMed-Italic.woff2') format('woff2'),
        url('assets/fonts/lato/LatoLatinMed-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

