.mat-select {
    background-color: #fff;
    color: #2e2925;
    border-radius: 0px;
    position: relative;
    padding: 5px 10px;
    // height: 29px;
    border: 1px solid #ece7e7;
    background-image: url('assets/img/icons/triangleSelect.svg');
    background-position: 98% 50%;
    background-repeat: no-repeat;
    background-size: 15px;
    margin-top: 3px;
    box-sizing: border-box;
    height: 29px;
    font-size: 14px;
}

// .mat-select-value {
//     padding-top: 1px !important; 
// }

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: #006341;
    color: #fff;
}

.mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
    background: #00634140;
}

.mat-select-arrow {
    border-top: unset !important;
}