<div class="divWrapper" style="width: 94%;margin: 0 auto;">
    <div class="tituloPrincipal">NUEVO CONTACTO</div>
    <div class="divCol3">
        <div class="col3">
            <div class="inputT">
                Nombre(s)<br>
                <input type="text">
            </div>
        </div>
        <div class="col3">
            <div class="inputT">
                Apellidos<br>
                <input type="text">
            </div>
        </div>
        <div class="col3">
            <div class="inputT">
                Nickname<br>
                <input type="text">
            </div>
        </div>
        <div class="col3">
            <div class="inputT">
                Ciudad de trabajo<br>
                <input type="text">
            </div>
        </div>
        <div class="col3">
            <div class="inputT">
                Contacto laboral(móvil)<br>
                <input type="text">
            </div>
        </div>
        <div class="col3">
            <div class="inputT">
                e-mail<br>
                <input type="text">
            </div>
        </div>
    </div>
    <br>
    <div class="tituloPrincipal">FUNCIONARIOS EN CONTACTO</div>
    <div class="w100">
        <textarea></textarea>
    </div>
    <div class="divCol3 divCol31">
        <div class="col3">
            Funcionario<br>
            <input type="text">
        </div>
    </div>
    <div class="botonAgregar marginBottom40"><a href="#"><div></div> Agregar</a></div>
    <div class="btnCenter">
        <button mat-button class="botonPrimario">Cancelar</button>
        <button mat-button class="botonPrimario">Guardar</button>
    </div>
</div>