<div class="contenedorFuncionario">
    <div class="tituloPrincipal">CONTACTO</div>
    <div class="nombreFuncionario">PATRICIA GONZÁLEZ BECERRA</div>
    <div class="divCol2 divContactoEditar">
        <div class="w30 tarjeta desac">
            <div class="black">
                <div>4.67</div>
                <div class="starRating">
                <img src="assets/img/icons/star.svg" alt="">
                <img src="assets/img/icons/star.svg" alt="">
                <img src="assets/img/icons/star.svg" alt="">
                <img src="assets/img/icons/star.svg" alt="">
                <img src="assets/img/icons/star.svg" alt="">
                </div>
                <a href="#" class="btn">Evaluar</a>
            </div>
        </div>
        <div class="w70 cv">
            <div class="divCol2">
                <div class="col2">
                    Nickname<br>
                    <input type="text" value="Patylu">
                </div>
                <div class="col2">
                    Ciudad de trabajo<br>
                    <input type="text" value="México">
                </div>
                <div class="col2">
                    Contacto<br>
                    <input type="text" value="55 9933 9933">
                </div>
                <div class="col2">
                    e-mail<br>
                    <input type="text" value="correo@dominio.com.mx">
                </div>
                <div class="col2">
                    Persona de enlace (Abogado interno)<br>
                    <input type="text" value="Arvin Aguilar Villela">
                </div>
            </div>
        </div>

        <div></div>
    </div>
    <div class="tituloPrincipal">FUNCIONARIOS EN CONTACTO</div>
    <div class="w100">
        <div class="divAgregarFuncionario">
            <table class="tblAgregarFuncionario">
                <tbody>
                    <tr>
                        <td>
                            <strong>Luis Fernando Hernández Romero</strong><br>
                            Cargo: Ministro Presidente de la Suprema Corte de Justicia <br>
                            Institución: Suprema Corte de Justicia de la Nación
                        </td>
                        <td><img src="assets/img/icons/eliminar.svg" alt="" class="icoEliminar"></td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Luis Fernando Hernández Romero</strong><br>
                            Cargo: Ministro Presidente de la Suprema Corte de Justicia <br>
                            Institución: Suprema Corte de Justicia de la Nación
                        </td>
                        <td><img src="assets/img/icons/eliminar.svg" alt="" class="icoEliminar"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="divCol3 divCol31">
        <div class="col3">
            Funcionario<br>
            <input type="text">
        </div>
    </div>
    <div class="botonAgregar"><a href="#"><div></div> Agregar</a></div>
    <div class="btnCenter">
        <button mat-button class="botonPrimario">Regresar</button>
        <button mat-button routerLink="/editar-contacto" class="botonPrimario">Editar Contacto</button>
    </div>
</div>
