$checked-color: #000;
$unchecked-color: #000;
$checkbox-height: 15px;
$background-color:#fff;
$font-color:#efefef;
$duration: .15s;

.divWrapper {
    font-family: 'Lato', sans-serif;
}
.tituloPrincipal span {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: italic;
}
.divInstitucion {margin-bottom: 50px;}
.pRelative {
    position: relative;
  }
  .divCol3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .divCol3 .col3 {
    width: 31%;
    margin: 10px 1%;
  }
  .divImgFuncionario {
  //   width: 100%;
    min-height: 243px;
  }
  .imgFuncionario {
    width: 100%;
    min-height: 241px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .imgFuncionario img {width: 100%;}
  .divCargarImagen {
    width: 100%;
  }
  .botonCargar {
    background-color: #000;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .botonCargar a {
    display: block;
    padding: 16px 10px;
  }
  .botonCargar a img {
    margin: 0 auto;
    width: 43px;
    display: block;
  }
  .inputT {
    width: 100%;
    margin-bottom: 10px;
  }
  input,
  input[type="text"],
  input[type="number"],
  select {
    border: 1px solid #ece7e7;
    width: 100%;
    height: 29px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 0px;
    padding: 0px 10px;
    background-color: #ffffff;
    box-sizing: border-box;
    margin-top: 3px;
  }
  
  textarea {
    width: 98%;
    border: 1px solid #ece7e7;
    min-height: 200px;
    color: #000;
    padding: 10px;
  }
  .w100 {
    width: 100%;
    padding: 15px 1%;
    box-sizing: border-box;
  }
  
  .iconosEdicion {
    position: absolute;
    top: 35px;
    right: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 9%;
    justify-content: space-around;
  }
  
  textarea.comentarios {
    min-height: 50px;
  }
  
  .botonAgregar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0px -15px;
  }
  .botonAgregar a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: #02a8a0;
  }
  .botonAgregar a div {
    background-image: url("/assets/img/icons/agregar.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 29px;
    background-size: 25px;
    background-position: center 0px;
    padding-right: 10px;
  }
  
  .divCol31 {
    justify-content: flex-end !important;
  }
  
  .divWrapper {
    width: 100% !important;
    background-color: white;
    padding: 40px 100px;
    box-sizing: border-box;
  }
  
  .divCol2, .divInstitucion {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .divInstitucion > .col2:first-of-type {
    width: 27%;
    max-width: 320px;
    margin: 15px auto;
  }
  
  .divInstitucion > .col2:last-of-type {
      width: 70%;
  }
  
  .divCol2 > .col2,
  .divGrow > .col2 {
    width: 48%;
    margin: 15px 0%;
  }
.divDatosInstitucion {margin-bottom: 80px;}
.textoDescripcion {
    text-align: left;
    margin-bottom: 30px;
    border: 1px solid #ece7e7;
    padding: 15px;
    box-sizing: border-box;
}

/*Checkbox*/
.inputDeshabilitar {
  margin-bottom: 80px;
}
input[type=checkbox]{
  display:none;
}
.deshabilitarCargo {color: #02A8A0;}
.check-box {
  margin: 0px 10px -1.5px 0px;
  height: $checkbox-height;
  width: $checkbox-height;
  background-color: transparent;
  border: 1px solid $unchecked-color;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease $duration/2;
  -o-transition: border-color ease $duration/2;
  -webkit-transition: border-color ease $duration/2;
  transition: border-color ease $duration/2;
  cursor:pointer;

  &::before, &::after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      height: 0;
      width: 1px;
      background-color: $checked-color;
      display: inline-block;
      -moz-transform-origin: left top;
      -ms-transform-origin: left top;
      -o-transform-origin: left top;
      -webkit-transform-origin: left top;
      transform-origin: left top;
      // border-radius: 5px;
      content: ' ';
      -webkit-transition: opacity ease .5;
      -moz-transition: opacity ease .5;
      transition: opacity ease .5;
  }

  &::before {
      top:$checkbox-height * .72;
      left: 6.6px;;
      // left: $checkbox-height * .41;
      box-shadow: 0 0 0 $checkbox-height * .05 $background-color;
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
  }

  &::after {
      top: $checkbox-height * .37;
      left: $checkbox-height * .05;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }
}

input[type=checkbox]:checked + .check-box,
.check-box.checked{
  border-color:$checked-color;
  
  &::after{
      height: $checkbox-height * .5;
      -moz-animation: dothabottomcheck $duration/2 ease 0s forwards;
      -o-animation: dothabottomcheck $duration/2 ease 0s forwards;
      -webkit-animation: dothabottomcheck $duration/2 ease 0s forwards;
      animation: dothabottomcheck $duration/2 ease 0s forwards;
  }
   
  &::before{
      height: $checkbox-height * 1.2;
      -moz-animation: dothatopcheck $duration ease 0s forwards;
      -o-animation: dothatopcheck $duration ease 0s forwards;
      -webkit-animation: dothatopcheck $duration ease 0s forwards;
      animation: dothatopcheck $duration ease 0s forwards;
  }
}

/*Acordeón*/
.divCargoAccordion {
  margin-top: 40px;
}
.mat-expansion-panel {
  border: 1px solid #29292C;
  border-radius: 0 !important;
}
.mat-expansion-panel:last-of-type {margin-bottom: 25px;}
.mat-expansion-panel-header,
.mat-expansion-panel-header:hover  {
  background-color: #29292C !important;
  color: #ffffff;
}

.mat-expansion-panel-header-title {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.switchC {margin-left: 15px;}
/*eliminar*/
.eliminarFuncionario {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.eliminarFuncionario a {
  display: block;
}
.eliminarFuncionario a img {
  margin: 0 auto;
  width: 22px;
}

.marginB60 {margin-bottom: 60px;}

.divSwitch {
  display: flex;
  justify-content: flex-end;
}

#inputNuevaImagen{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  display: none;
}
.carga + label span{
  width: 100%;
}
.carga + label {
  background-color: #000;
  width: 100%;
  height: 50px;
  background-image: url(/assets/img/icons/subirFoto.svg);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 7px 10px;
  font-size: 10px;
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
    .divInstitucion > .col2:first-of-type{
        width: 33%;
    }
    .divInstitucion > .col2:last-of-type {
        width: 57%;
    }
    div.name {
        display: none;
    }
    .divCol2 > .col2,
    .divGrow > .col2 {
        width: 98%;
    }
}
  
    
@media screen and (max-width: 960px) {
    .divCol3 .col3 {
      width: 98%;
    }
    .divImgFuncionario {
      display: block;
      margin: 15px auto 10px auto;
      max-width: 350px;
    }
    .botonCargar {
      max-width: 350px;
    }
  
    .divInstitucion > .col2:first-of-type{width: 98%;margin:0 auto;}
    .divInstitucion > .col2:last-of-type {width: 98%;}
}
  
  @media screen and (max-width: 700px) {
    div.name {
      display: none;
    }
    .divCol2 > .col2,
    .divGrow > .col2 {
      width: 98%;
    }
  }